.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-x: hidden;
}
.cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.foodProviderCard {
    --height: 200px;
    height: var(--height);
    width: 100%;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    text-align:left;
}

.foodProviderCard:hover {
    transform: scale(1.02);
}

.foodProviderName {
    margin: 8px 0 4px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.provider_info {
    font-size: 15px;
    color: #888;
    margin: 1px 0;

}

.title{
    font-family: 'Mochiy Pop One';
    font-weight: 400;
    font-size: 36px;
    Line-height: 52.13px;
    align-self: center;
}